<% layout("layouts/boilerplate") %>
  <h1>Edit Green Space</h1>
  <form action="/greenspaces/<%= greenspace._id%>?_method=PUT" method="POST">
    <div>
    <label for="title"></label>
    <input type="text" id="title" name="greenspace[title]" value="<%=greenspace.title%>">
    </div>
    <div>
    <label for="location"></label>
    <input type="text" id="location" name="greenspace[location]" value="<%=greenspace.location%>">
    </div>
    <button>Update Green Space</button>
  </form>
  <a href="/greenspaces/<%=greenspace._id%>">Back to Green Space</a>
