<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Green Space</title>
</head>
<body>
  <h1>Edit Green Space</h1>
  <form action="/greenspaces/<%= greenspace._id%>?_method=PUT" method="POST">
    <div>
    <label for="title"></label>
    <input type="text" id="title" name="greenspace[title]" value="<%=greenspace.title%>">
    </div>
    <div>
    <label for="location"></label>
    <input type="text" id="location" name="greenspace[location]" value="<%=greenspace.location%>">
    </div>
    <button>Update Green Space</button>
  </form>
  <a href="/greenspaces/<%=greenspace._id%>">Back to Green Space</a>
</body>
</html>