<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Green Spaces</title>
</head>
<body>
  <h1>All Green Spaces</h1>
  <div>
    <a href="/greenspaces/new">Add Green Space</a>
  </div>
  <ul>
    <% for (let greenspace of greenspaces) { %>
    <li><a href="/greenspaces/<%=greenspace._id%>"><%= greenspace.title %></a></li>
    <% } %>
  </ul>
</body>
</html>