<% layout("layouts/boilerplate") %>
  <h1>All Green Spaces</h1>
  <div>
    <a href="/greenspaces/new">Add Green Space</a>
  </div>
  <ul>
    <% for (let greenspace of greenspaces) { %>
    <li><a href="/greenspaces/<%=greenspace._id%>"><%= greenspace.title %></a></li>
    <% } %>
  </ul>
