<% layout("layouts/boilerplate") %>
  <form action="/greenspaces" method="POST">
    <div>
    <label for="title"></label>
    <input type="text" id="title" name="greenspace[title]">
    </div>
    <div>
    <label for="location"></label>
    <input type="text" id="location" name="greenspace[location]">
    </div>
    <button>Add Green Space</button>
  </form>
  <a href="/greenspaces">All Green Spaces</a>
