<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Green Spaces</title>
</head>
<body>
  <form action="/greenspaces" method="POST">
    <div>
    <label for="title"></label>
    <input type="text" id="title" name="greenspace[title]">
    </div>
    <div>
    <label for="location"></label>
    <input type="text" id="location" name="greenspace[location]">
    </div>
    <button>Add Green Space</button>
  </form>
  <a href="/greenspaces">All Green Spaces</a>
</body>
</html>